html,body{
    background: #f7f7f7f7 url("./../image/release-bg.png") no-repeat right top;
}
#content-footer {
    padding: 30px;
    margin-top: 80px;
}
#content-footer div, #content-footer div a{
    width: 173px;
    color: white;
}
.mdui-l-4{
    line-height: 40px;
}
.mdui-l-37{
    line-height: 37px;
}
.mdui-container{
    min-height: 414px;
}
.peoplecount{
    font-family: huakang;
    font-size: 65px;
    width: 64px;
    padding: 18px;
}