html,body{
    background: #f7f7f7f7 url("./../image/release-bg.png") no-repeat right top;
}
#content-footer {
    padding: 30px;
    margin-top: 80px;
}
.mdui-l-4{
    line-height: 40px;
}
.mdui-l-37{
    line-height: 37px;
}
.mdui-container{
    min-height: 414px;
}